body {
	font-family: monospace;
}

main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
#select {
	flex: 0; /* take as little space as possible */
}
#boxes {
	flex: 1;
}

#boxes {
	display: flex;
}
fieldset {
	flex: 1;
}
fieldset:last-of-type {
	flex: 2;
}

fieldset textarea {
	height: 100%;
	width: 100%;
	box-sizing: border-box; /* pls */
}

[data-wiki="vw"] #setOut legend {
	background: #ae3974;
	color: white;
}
[data-wiki="vw"] #setOut {
	border-color: #ae3974;
}
[data-wiki="vlw"] #setOut legend {
	background: #29ab87;
	color: white;
}
[data-wiki="vlw"] #setOut {
	border-color: #29ab87;
}
[data-wiki="ulw"] #setOut legend {
	background: #995a95;
	color: white;
}
[data-wiki="ulw"] #setOut {
	border-color: #995a95;
}