div {
	width: 2800px;
	height: 2400px;
	left: 710px;
	top: 140px;
	background-image: linear-gradient(to right, red, red 50%, blue 50%);
	opacity: 0.5;
	z-index: 99;
	position: absolute;
}
img {
	z-index: -1;
}
