body:after {
	width: calc(2120px * 2); /* input the final multiplied number */
	height: 3000px;
	left: calc(220px);
	top: 120px;
	background-image: linear-gradient(to right, red, red 50%, green 50%);
	opacity: 0.5;
	z-index: 99;
	position: absolute;
	content: ".";
}
img {
	z-index: -1;
}
